# Solana Network
ANCHOR_PROVIDER_URL=https://api.devnet.solana.com
ANCHOR_WALLET=~/.config/solana/id.json

# Program
PROGRAM_ID=

# Pyth Devnet Price Feeds
PYTH_SOL_USD=H6ARHf6YXhGYeQfUzQNGk6rDNnLBQKrenN712K4AQJEG
PYTH_BTC_USD=GVXRSBjFk6e909Wjy64QnbB1W3ToS4RCgbkqXEbBKVGA
PYTH_ETH_USD=EdVCmQ9FSPcVe5YySXDPCRmc8aDQLKJ9xvYBMZPie1Vw
PYTH_EUR_USD=42amVS4KgzR9rA28tkVYqVXjq9Qa8dcZQMbH5EYFX6XC
PYTH_XAU_USD=AtRCZhwikbMsDAEYgwHFuBzGQuRQUMAfYomMaKnkEGRS

# Keeper Bot
KEEPER_KEYPAIR=~/.config/solana/keeper.json
KEEPER_INTERVAL_MS=5000

# USDC Mint (Devnet)
USDC_MINT=4zMMC9srt5Ri5X14GAgXhaHii3GnPAEERYPJgZJDncDU